@{
    ViewBag.Title = "About";
}
<div class="container">
    <div class="col-md-12 text-center">
        <h2>About us</h2>
    </div>
</div>
<hr style="padding-bottom:0;margin-bottom:0;" />
<!--

<div class="container">
    <div class="col-md-6">
        <div class="col-md-offset-1">
            <h3>@ViewBag.Message</h3>

            <p>Use this area to provide additional information.</p>
        </div>
    </div>
    <div class="col-md-5">
        <video autoplay="autoplay" muted="muted" poster="https://www.paypalobjects.com/webstatic/mktg/wright/videos/home-signup.jpg" style="width: 100%; visibility: visible;">
            <source src="~/Images/Videos/ad1.mp4" type="video/mp4">
            
        </video>
    </div>

</div>
    -->
<div class="container background3">
    <br />
    <br />
    <div class="container">
        <div class="col-sm-4 container " >
            <div class="container img-thumbnail" style="margin:12px;">
                <div class="col-md-12 center-block text-center">
                    <span class="col-xs-4 center-block text-center">
                        <img style="height:120px; margin:10px" class="img-circle" src="~/Images/Avatar/profile_TA.jpg" />
                    </span>
                    <span class="text-danger col-xs-8">
                        <br /><br />
                        Ta Tuan Anh<br />
                        <b>NITS12K - 2012</b><br />
                        <i><small>Centria University of Applied Sciences</small></i>
                    </span>
                </div>
                <div class="container">
                    <hr />
                </div>
                <div class="col-xs-10 col-xs-offset-1 text-justify">
                    <span style="font-weight:300; font-size:15px;" class="text-justify text-primary">“If you don't go after what you want, you'll never have it. If you don't ask, the answer is always no. If you don't step forward, you're always in the same place.”</span>
                    <br />
                    <br />
                </div>
            </div>
        </div>
        <div class="col-sm-4 container ">
            <div class="container img-thumbnail" style="margin:12px;">
                <video autoplay="autoplay" muted="muted" poster="https://www.paypalobjects.com/webstatic/mktg/wright/videos/home-signup.jpg" style="width:100%">
                    <source src="~/Images/Videos/ad1.mp4" type="video/mp4">
                </video>
            </div>
        </div>
        <div class="col-sm-4 container ">
            <div class="container img-thumbnail" style="margin:12px;">
                <img style="width:100%" src="~/Images/Background/background1.jpg" />
            </div>

        </div>
    </div>
</div>

<hr />