@{
    ViewBag.Title = "About";
}
<div class="container">
    <div class="col-md-12 text-center">
        <h2>About us</h2>
    </div>
</div>
<hr />
<div class="container">
    <div class="col-md-6">
        <div class="col-md-offset-1">
            <h3>@ViewBag.Message</h3>

            <p>Use this area to provide additional information.</p>
        </div>
    </div>
    <div class="col-md-5">
        <video autoplay="autoplay" muted="muted" poster="https://www.paypalobjects.com/webstatic/mktg/wright/videos/home-signup.jpg" style="width: 100%; visibility: visible;">
            <source src="~/Images/Videos/ad1.mp4" type="video/mp4">
            <!--
                <source src="https://www.paypalobjects.com/webstatic/mktg/wright/videos/home-signup.webm" type="video/webm">
            -->
        </video>
    </div>

</div>