body {
    width: 100%;
    margin: 0%;
    padding-top: 50px;
    padding-bottom: 20px;
    overflow-x: hidden;
    min-height: 500px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#given {
    position: relative;
    display: block;
    padding: 4px 4px 4px 4px;
    background: #e9e9e9;
}

.word-input {
    margin: 2px 2px 2px 2px;
    font-size: 18px;
}

.navbar-nav > li > span > a {
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
}

    .navbar-nav > li > span > a:hover {
        color: #e9e9e9;
        text-decoration: none;
    }

#typed {
    font-size: 20px;
    font-weight: 600;
    padding: 10px 10px 10px 10px;
    border: 1.5px groove #808080;
}

.refresh-btn:hover {
    color:#f6f6f6;
}
#refresh-btn, .refresh-btn {
    color: #FFF;
    border-top-color: #1992da;
    border-left-color: #0c75bb;
    border-right-color: #0c75bb;
    border-bottom-color: #00589c;
    -webkit-box-shadow: inset 0 1px 1px 0 #6fc5f5;
    -moz-box-shadow: inset 0 1px 1px 0 #6fc5f5;
    box-shadow: inset 0 1px 1px 0 #6fc5f5;
    background: #117ed2;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#37aaea",endColorstr="#117ed2");
    background: -webkit-gradient(linear,left top,left bottom,from(#37aaea),to(#117ed2));
    background: -moz-linear-gradient(top,#37aaea,#117ed2);
    background-image: -o-linear-gradient(top,#37aaea 0,#117ed2 100%);
    background-image: linear-gradient(to bottom,#37aaea 0,#117ed2 100%);
}

    #refresh-btn:hover {
        color: #FFF;
        border-top-color: #37aaea;
        border-left-color: #37aaea;
        border-right-color: #37aaea;
        border-bottom-color: #37aaea;
        -webkit-box-shadow: inset 0 1px 1px 0 #6fc5f5;
        -moz-box-shadow: inset 0 1px 1px 0 #6fc5f5;
        box-shadow: inset 0 1px 1px 0 #6fc5f5;
        background: #00589c;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#37aaea",endColorstr="#117ed2");
        background: -webkit-gradient(linear,left top,left bottom,from(#37aaea),to(#117ed2));
        background: -moz-linear-gradient(top,#37aaea,#117ed2);
        background-image: -o-linear-gradient(top,#37aaea 0,#117ed2 100%);
        background-image: linear-gradient(to bottom,#37aaea 0,#117ed2 100%);
    }

#opt-btn {
    padding-top: 10px;
    background: #ebd5bf;
    background-image: -webkit-linear-gradient(top, #ebd5bf, #f2dbc2);
    background-image: -moz-linear-gradient(top, #ebd5bf, #f2dbc2);
    background-image: -ms-linear-gradient(top, #ebd5bf, #f2dbc2);
    background-image: -o-linear-gradient(top, #ebd5bf, #f2dbc2);
    background-image: linear-gradient(to bottom, #ebd5bf, #f2dbc2);
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
}

    #opt-btn:hover {
        background: #e8d5c3;
        background-image: -webkit-linear-gradient(top, #e8d5c3, #f1e5da);
        background-image: -moz-linear-gradient(top, #e8d5c3, #f1e5da);
        background-image: -ms-linear-gradient(top, #e8d5c3, #f1e5da);
        background-image: -o-linear-gradient(top, #e8d5c3, #f1e5da);
        background-image: linear-gradient(to bottom, #e8d5c3, #f1e5da);
    }

.create-btn {
    color: #FFF;
    border-top-color: #1992da;
    border-left-color: #0c75bb;
    border-right-color: #0c75bb;
    border-bottom-color: #00589c;
    -webkit-box-shadow: inset 0 1px 1px 0 #6fc5f5;
    -moz-box-shadow: inset 0 1px 1px 0 #6fc5f5;
    box-shadow: inset 0 1px 1px 0 #6fc5f5;
    background: #117ed2;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#37aaea",endColorstr="#117ed2");
    background: -webkit-gradient(linear,left top,left bottom,from(#37aaea),to(#117ed2));
    background: -moz-linear-gradient(top,#37aaea,#117ed2);
    background-image: -o-linear-gradient(top,#37aaea 0,#117ed2 100%);
    background-image: linear-gradient(to bottom,#37aaea 0,#117ed2 100%);
}

    .create-btn:hover {
        color: #FFF;
        border-top-color: #37aaea;
        border-left-color: #37aaea;
        border-right-color: #37aaea;
        border-bottom-color: #37aaea;
        -webkit-box-shadow: inset 0 1px 1px 0 #6fc5f5;
        -moz-box-shadow: inset 0 1px 1px 0 #6fc5f5;
        box-shadow: inset 0 1px 1px 0 #6fc5f5;
        background: #00589c;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#37aaea",endColorstr="#117ed2");
        background: -webkit-gradient(linear,left top,left bottom,from(#37aaea),to(#117ed2));
        background: -moz-linear-gradient(top,#37aaea,#117ed2);
        background-image: -o-linear-gradient(top,#37aaea 0,#117ed2 100%);
        background-image: linear-gradient(to bottom,#37aaea 0,#117ed2 100%);
    }

/*background color 1*/
.background1 {
    background: linear-gradient(to bottom, #fff 60%, #f2f2f2 80%);
}

.background2 {
    background: #808080;
}

.background3 {
    background: #e9e9e9;
}

.background-gold {
    background: #ebd5bf;
    background-image: -webkit-linear-gradient(top, #ebd5bf, #f2dbc2);
    background-image: -moz-linear-gradient(top, #ebd5bf, #f2dbc2);
    background-image: -ms-linear-gradient(top, #ebd5bf, #f2dbc2);
    background-image: -o-linear-gradient(top, #ebd5bf, #f2dbc2);
    background-image: linear-gradient(to bottom, #ebd5bf, #f2dbc2);
}

/*
        ANIMATIONS
    */

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }

    to {
        transform: scale(1) rotate(360deg);
    }
}

/*FLIP*/
.flip {
  display: inline-block;
}


/*Footer*/
.icon_social{
    height:30px;
    margin:1px;
}