@model TA_Typing1.Models.WordDef

@{
    ViewBag.Title = "Details";
    Layout = "";
}

<td>
    <h6>(@Model.wType)</h6>
</td>
<td>
    <h5 style="font-weight:600">@Model.wDefinition</h5>
    <h6>eg.<i> @Model.wExample</i></h6>
</td>
