@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="text-center center-block">
                <!--htmlAttributes: new { title = "Manage" })-->
                <a href="@Url.Action("Index", "Manage", routeValues: null)"><span class="glyphicon glyphicon-user"></span> @User.Identity.GetUserName()</a>
            </li>
            <li class="center-block text-center"><a href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-off"></span> Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a id="register-btn1" style="cursor:pointer" onclick="$('#register-btn2').click();"><span class="glyphicon glyphicon-user"></span> Register</a>
        </li>
        <li>
            <a id="login-btn1" style="cursor:pointer" onclick="$('#login-btn2').click();"><span class=" glyphicon glyphicon-log-in">
                </span> Log in</a>
        </li>
    </ul>
    <div hidden>
        <button id="register-btn2" data-toggle="modal" data-target="#registerModal">register</button>
        <button id="login-btn2" data-toggle="modal" data-target="#loginModal">login</button>
    </div>

}


